<div class="col-md-10 offset-md-1 mt-3">
  <h1 class="text-center">Create Student</h1>
  <form [formGroup]="studentForm">
    <input type="hidden" #id formControlName="id" />

    <div class="row mt-5">
      <div class="col-md-6">
        <mat-form-field class="form-field">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" type="text">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="form-field">
          <mat-label>Last Name</mat-label>

          <input matInput type="text" formControlName="lastName">
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Class</mat-label>
          <mat-select formControlName="class">
            <mat-option *ngFor="let class of class" [value]="class.value">
              {{class.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Division</mat-label>
          <mat-select formControlName="division">
            <mat-option *ngFor="let division of division" [value]="division.value">
              {{division.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <textarea matInput formControlName="address"></textarea>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input type="text" placeholder="Select City" matInput formControlName="city" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>


      <div class="col-md-6">
        <ng-container>
          <mat-label class="mb-3">Gender</mat-label><br>
          <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-radio-button value="Boy">Boy</mat-radio-button>
            <mat-radio-button value="Girl">Girl</mat-radio-button>
          </mat-radio-group>
        </ng-container>
      </div>

      <div class="col-md-12 text-center mt-3">
        <button mat-raised-button color="primary" (click)="submit(id.value)">Submit</button>

      </div>
    </div>

  </form>

</div>
