<div class="col-md-12 text-right mt-3">
  <button mat-raised-button color="primary" routerLink="add-student">Add Student</button>
</div>

<div class="col-md-12 mt-3">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell class="id-cell mat-cell-value" *matCellDef="let element ">{{element.id}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
      <mat-cell class="id-cell mat-cell-value" *matCellDef="let element">{{element.firstName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
      <mat-cell class="id-cell mat-cell-value" *matCellDef="let element">{{element.lastName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="class">
      <mat-header-cell *matHeaderCellDef>Class</mat-header-cell>
      <mat-cell class="id-cell mat-cell-value" *matCellDef="let element ">{{element.class}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
      <mat-cell class="id-cell mat-cell-value" *matCellDef="let element">{{element.gender}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="division">
      <mat-header-cell *matHeaderCellDef>Division</mat-header-cell>
      <mat-cell class="id-cell mat-cell-value" *matCellDef="let element">{{element.division}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
      <mat-cell class="id-cell mat-cell-value" *matCellDef="let element">{{element.address}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="city">
      <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
      <mat-cell class="id-cell mat-cell-value" *matCellDef="let element">{{element.city}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
      <mat-cell class="id-cell mat-cell-value" *matCellDef="let element  index as i"><span><i class="fa fa-pencil mr-1"
            style="font-size:18px" (click)="actionEdit(i)"></i></span> <span><i class="fa fa-trash ml-2"
            (click)="actionDelete(i)" style="font-size:18px"></i></span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns">
    </mat-row>

    <mat-footer-row></mat-footer-row>
  </mat-table>
</div>
